/* v1.0 | 20080212 */
/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
/* remember to define focus styles! */
:focus {
  outline: 0;
}
/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/****************APP STYLES***************/
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.25;
}
h1 {
  color: #ccc;
  font-size: 27px;
  font-weight: normal;
  line-height: 40px;
}
li {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  background: #eeedef;
}
.container {
  min-width: 550px;
  padding-bottom: 40px;
  margin-top: 20px;
}
.container:after {
  content: "";
  display: block;
}
.board-view {
  padding: 10px 20px;
}

button,
.btn {
  cursor: pointer;
  color: #fff;
  background: #EF7F1A;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
  font-size: 13px;
  font-weight: bold;
  padding: 10px 33px;
  border: 0;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  -o-transition: background 0.5s;
  -ms-transition: background 0.5s;
  transition: background 0.5s;
}
button:hover,
.btn:hover {
  background: #1BCBD8;
}
.main-header {
  background: #1BCBD8;
  padding: 10px 20px;
}
.main-header h1 {
  color: #fff;
}
*[draggable=true] {
  -moz-user-select: none;
  -khtml-user-drag: element;
  cursor: move;
}
.ie8-and-below *[draggable=true] {
  cursor: default;
}
/*Main CSS*/
#board {
    -webkit-box-align: start;
    align-items: flex-start;
    display: flex;
    display:-webkit-flex;
    display:-ms-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    margin-bottom: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 10px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}
#board::-webkit-scrollbar {
    height: 13px;
    width: 13px;
}

#board::-webkit-scrollbar-thumb:horizontal,
#board::-webkit-scrollbar-thumb:vertical {
    background: rgba(255, 255, 255, 0.4);
}
/*Safari Fix*/
*[contenteditable] {
    -webkit-user-select: auto !important;
}
#board::-webkit-scrollbar-track-piece {
    background: rgba(0, 0, 0, 0.14902);
}
.list {
    border-radius: 3px;
    box-sizing: border-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-flex: 0;
    flex: 0 0 270px;
    margin: 0px 5px;
    max-height: 100%;
    position: relative;
    width: 270px;
    background: rgb(226, 228, 230);
}
.list:first-child {
    margin-left: 10px;
}
.list:last-child {
    margin-right: 10px;
}
.list-header {
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    padding: 8px 34px 8px 10px;
    position: relative;
    min-height: 19px;
}
.list-header-name {
    display: inline;
    font-size: 15px;
    line-height: 18px;
    margin: 0px;
    min-height: 19px;
    min-width: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}
.list-cards {
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0px 4px;
    padding: 0px 4px;
    z-index: 1;
}
.list-cards::-webkit-scrollbar-button:end {
    display: block;
    height: 4px;
    width: 4px;
}
.list-card {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(204, 204, 204);
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 6px;
    max-width: 300px;
    min-height: 20px;
    position: relative;
    z-index: 0;
    background-color: rgb(255, 255, 255);
}
.list-card a {
    color: rgb(77, 77, 77);
}
.list-card-details {
    overflow: hidden;
    padding: 6px 8px 4px;
    padding: 15px;
    position: relative;
    z-index: 10;
}
.list-card-details .right{
    float: right;
 
}
.list-card-details .left{
    overflow: hidden;
    width: 80%;
}

.list-card-title {
    clear: both;
    
    font-weight: 400;
    margin: 0px 0px 4px;
    overflow: hidden;
    text-decoration: none;
    word-wrap: break-word;
}